.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: center; /* 전체 테이블 내용을 가운데 정렬 */
}
.styled-table thead tr {
    background-color: gray;
    color: #ffffff;
    text-align: center; /* 헤더 내용을 가운데 정렬 */
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    text-align: center; /* 셀 내용을 가운데 정렬 */
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid gray;
}

