/* Myinfo */
.myinfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .myinfo-body {
    width: calc(100% - 10px); 
    max-width: 370px; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 20px 0;
    box-sizing: content-box;
  }
  
  .myinfo-header {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .profile-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .profile-button:hover {
    background-color: #e0e0e0;
  }
  
  /* profileedit */
  
  .profile-image-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border-radius: 50%;
  }
  
  .profile-image-section button {
    background-color: #f0f0f0;
    border: none;
    width: 20%;
    padding: 10px 10px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-image-section button:hover {
    background-color: #e0e0e0;
  }
  
  .profile-actions {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  
  .profile-actions button {
    width: 48%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-actions button:hover {
    background-color: #45a
  }
  
  /* device */
  
  .search-section {
    margin-bottom: 20px;
  }
  
  .search-section input {
    padding: 8px;
    margin-right: 10px;
    width: 70%;
  }
  
  .search-section button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .search-section button:hover {
    background-color: #45a049;
  }
  
  .device-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .device-content table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
  }
  
  .device-content table td button{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #a04545;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .device-content table th {
    background-color: #f4f4f4;
  }
  
  @media (max-width: 768px) {
    .management-content, .search-section input {
        width: 95%;
    }
  }
  
  /* feedback */
  .myinput[type="text"], .myinput[type="date"], .myinput[type="email"], .myinput[type="password"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
  }
  
  .form-group select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
  
  }
  
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 150px;
    resize: none;
  }